# Comparing flight delays

## Analysis to compare the arrival delays for two different airlines

Import csv to pandas

In [186]:
import pandas as pd
flights = pd.read_csv('flight.csv', delimiter = ',')
flights

   airline    destination  on_time  delayed
0  AM WEST    Los Angeles      694      117
1  AM WEST        Phoenix     4840      415
2  AM WEST      San Diego      383       65
3  AM WEST  San Francisco      320      129
4  AM WEST        Seattle      201       61
5   ALASKA    Los Angeles      497       62
6   ALASKA        Phoenix      221       12
7   ALASKA      San Diego      212       20
8   ALASKA  San Francisco      503      102
9   ALASKA        Seattle     1841      305

### 1. Calculating arrival delay rate  (%) based on destinations

In [193]:
#calculate delay rate
delay_rate=flights['delayed']/(flights['on_time']+flights['delayed']) * 100
#add to dataframe
flights['delay_rate']=delay_rate
#group by destination and airline
group_by_airline=flight.groupby(['destination','airline'])
group_by_airline.sum()

                       on_time  delayed  delay_rate
destination   airline
Los Angeles   ALASKA       497       62   11.091234
              AM WEST      694      117   14.426634
Phoenix       ALASKA       221       12    5.150215
              AM WEST     4840      415    7.897241
San Diego     ALASKA       212       20    8.620690
              AM WEST      383       65   14.508929
San Francisco ALASKA       503      102   16.859504
              AM WEST      320      129   28.730512
Seattle       ALASKA      1841      305   14.212488
              AM WEST      201       61   23.282443

### Conclusion

Based on the results above, AM WEST had the highest delay rate in all destinations

---

### 2. Calculating mean arrival delay rate (%)

In [192]:
group_by_airline=flight.groupby(['airline'])
group_by_airline.mean()

         on_time  delayed  delay_rate
airline
ALASKA     654.8    100.2   11.186826
AM WEST   1287.6    157.4   17.769152

### Conclusion

AM WEST had the highest mean delay rate.